/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

/* COMMON */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

/* HEADER */
header {
    margin-top: 20px;
}

header > img {
    height: 60px;
}

nav ul li{
    display: inline-block;
    margin-top: 30px;
    font-size: 15px;
}

li > a {
    text-decoration: none;
    margin-right: 10px;
}

/* MAIN */
.nav {
    margin-top: 20px;
}

.box {
    margin-top: 20px;
}

.riga {
    margin-bottom: 20px;
}

.col-left, .col-right {
    float: left;
    width: 20%;
}

.col-middle {
    float: left;
    width: calc(60% - 20px);
    margin: 0 10px 20px;
}

/* FOOTER */
.foot {
    margin: 10px 0 20px;
}